<!DOCTYPE kpartgui>
<kpartgui name="kgalileicenter" version="0.1">
<MenuBar>
	<Menu name="connect"><text>&amp;Session</text>
		<Action name="sessionSave"/>
		<Separator/>
		<Action name="sessionConnect"/>
		<Action name="sessionDisconnect"/>
		<Menu name="ManageDb"><text>&amp;Manage Database</text>
			<Action name="createDatabase"/>
			<Action name="fillEmptyDb"/>
		</Menu>
		<separator/>
		<Action name="sessionCompute"/>
		<Action name="runProgram"/>
		<separator/>
 		<Action name="sessionTest"/>
		<Action name="sessionStats"/>
		<separator/>
		<Action name="sessionQuit"/>
	</Menu>
	<Menu name="Knowledge"><text>&amp;Knowledge</text>
		<Action name="seeDicts"/>
		<Separator/>
		<Action name="textFrench"/>
		<Action name="textEnglish"/>
	</Menu>
	<Menu name="Documents"><text>&amp;Documents</text>
		<Action name="docsClear"/>
		<Separator/>
		<Action name="showDocs"/>
		<separator/>
		<Action name="docsAnalyse"/>
		<Action name="postDocsAnalyse"/>
		<Action name="docsIndexer"/>
		<separator/>
		<Action name="docAnalyse"/>
		<Action name="createXML"/>
		<Action name="saveXML"/>
		<Action name="analyseXML"/>
		<separator/>
		<Action name="queryMetaEngine"/>
		<separator/>
		<Action name="fillMIMETypes"/>
	</Menu>
	<Menu name="Users"><text>&amp;Users</text>
		<Action name="usersClear"/>
		<Separator/>
		<Action name="showUsers"/>
		<Separator/>
		<Action name="profileCalc"/>
		<Action name="profilesCalc"/>
		<Action name="postProfilesCalc"/>
	</Menu>
	<Menu name="Groups"><text>&amp;Groups</text>
		<Action name="groupsClear"/>
		<Separator/>
		<Action name="showGroups"/>
		<Action name="groupsCalc"/>
		<Action name="postGroupsCalc"/>
		<Separator/>
		<Action name="somView"/>
		<Action name="showGroupsHistorys"/>
	</Menu>
	<Menu name="Debug"><text>D&amp;ebug</text>
		<Action name="simulationDlg"/>
		<Separator/>
		<Action name="groupingCreate"/>
		<Action name="doFdbks"/>
		<Action name="doAssessments"/>
		<Separator/>
		<Action name="groupingCompare"/>
	</Menu>
	<Menu name="settings"><text>&amp;Settings</text>
		<Action name="settings_show_toolbar" />
		<Action name="settings_statusbar"/>
		<Separator />
		<Action name="plugins"/>
		<Action name="changeDebug"/>
	</Menu>
	<Action name="window_menu"/>
	<Menu name="help"><text>&amp;Help</text>
		<Action name="helpProgram"/>
	 </Menu>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
	<Action name="sessionConnect"/>
	<Separator/>
	<Action name="showUsers"/>
	<Action name="profilesCalc"/>
	<Separator/>
	<Action name="showGroups"/>
	<Action name="groupsCalc"/>
	<Separator/>
	<Action name="docsAnalyse"/>
	<Action name="showDocs"/>
	<Action name="createXML"/>
	<Action name="analyseXML"/>
	<Separator/>
	<Action name="sessionQuit"/>
</ToolBar>
</kpartgui>
