<!DOCTYPE kpartgui>
<kpartgui name="kgalileicenter" version="0.1">
<MenuBar>
	<Menu name="connect"><text>&amp;Session</text>
		<Action name="sessionSave"/>
		<Separator/>
		<Action name="sessionConnect"/>
		<Action name="sessionDisconnect"/>
		<Action name="sessionDebugInfo"/>
		<separator/>
		<Action name="sessionCompute"/>
		<Action name="runProgram"/>
		<Action name="sessionStats"/>
		<separator/>
		<Action name="createDatabase"/>
		<Action name="importDocs"/>
		<Action name="importUsersData"/>
		<separator/>
		<Action name="sessionQuit"/>
	</Menu>
	<Menu name="Knowledge"><text>&amp;Knowledge</text>
		<Action name="seeDicts"/>
		<Separator/>
		<Action name="textFrench"/>
		<Action name="textEnglish"/>
	</Menu>
	<Menu name="Documents"><text>&amp;Documents</text>
		<Action name="docsClear"/>
		<Separator/>
		<Action name="showDocs"/>
		<separator/>
		<Action name="docsAnalyse"/>
		<Action name="postDocsAnalyse"/>
		<Action name="docsIndexer"/>
		<separator/>
		<Action name="docAnalyse"/>
		<Action name="createXML"/>
		<Action name="saveXML"/>
		<Action name="analyseXML"/>
		<separator/>
		<Action name="queryMetaEngine"/>
		<separator/>
		<Action name="fillMIMETypes"/>
	</Menu>
	<Menu name="Topics"><text>&amp;Topics</text>
		<Action name="topicsClear"/>
		<separator/>
		<Action name="showTopics"/>
		<Action name="topicsCalc"/>
		<Action name="postTopicsCalc"/>
	</Menu>
	<Menu name="Users"><text>&amp;Users</text>
		<Action name="subprofilesClear"/>
		<Separator/>
		<Action name="showUsers"/>
		<Separator/>
		<Action name="profileCalc"/>
		<Action name="profilesCalc"/>
		<Action name="postProfilesCalc"/>
	</Menu>
	<Menu name="Communities"><text>&amp;Communities</text>
		<Action name="communitiesClear"/>
		<Separator/>
		<Action name="showCommunities"/>
		<Action name="communitiesCalc"/>
		<Action name="postCommunitiesCalc"/>
		<Separator/>
		<Action name="somView"/>
		<Action name="showCommunitiesHistorys"/>
	</Menu>
	<Menu name="Debug"><text>S&amp;imulation</text>
		<Action name="simulationDlg"/>
		<Action name="subjectsCreate"/>
		<Separator/>
		<Action name="communitiesCreate"/>
		<Action name="topicsCreate"/>
		<Separator/>
		<Action name="doFdbks"/>
		<Action name="doAssessments"/>
		<Separator/>
		<Action name="communitiesCompare"/>
		<Action name="topicsCompare"/>
		<Separator/>
		<Action name="startDegradation"/>
		<Action name="nextDegradation"/>
	</Menu>
	<Menu name="settings"><text>&amp;Settings</text>
		<Action name="settings_show_toolbar" />
		<Action name="settings_statusbar"/>
		<Separator />
		<Action name="plugins"/>
		<Action name="configure"/>
	</Menu>
	<Action name="window_menu"/>
	<Menu name="help"><text>&amp;Help</text>
		<Action name="helpProgram"/>
	 </Menu>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
	<Action name="sessionConnect"/>
	<Separator/>
	<Action name="showUsers"/>
	<Action name="profilesCalc"/>
	<Separator/>
	<Action name="showGroups"/>
	<Action name="groupsCalc"/>
	<Separator/>
	<Action name="docsAnalyse"/>
	<Action name="showDocs"/>
	<Action name="createXML"/>
	<Action name="analyseXML"/>
	<Separator/>
	<Action name="sessionQuit"/>
</ToolBar>
</kpartgui>
